### Importing libraries

In [2]:
#import standard libraries
import pandas as pd
import numpy as np
import os

In [3]:
#creating path
pathk=r'/Users/keerthiputti/Downloads/Achievement 6/cancer incidents/02 Data'

In [4]:
print(pathk)

/Users/keerthiputti/Downloads/Achievement 6/cancer incidents/02 Data

## Plan for data set
I have two data sets for cancer incidents. 2018 and 2019 data.
I will be cleanign them separately and append the data into one set.

In [5]:
#importing all data
df_2019=pd.read_csv(os.path.join(pathk,'Original Data','2019_incidents.csv'),index_col=False)
df_2018=pd.read_csv(os.path.join(pathk,'Original Data','2018_incidents.csv'),index_col=False)

## Cleaning 2019 data

In [6]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12240 entries, 0 to 12239
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Notes                      62 non-null     object
 1   Leading Cancer Sites       12178 non-null  object
 2   Leading Cancer Sites Code  12178 non-null  object
 3   States                     12178 non-null  object
 4   States Code                12178 non-null  float64
 5   Year                       12178 non-null  float64
 6   Year Code                  12178 non-null  float64
 7   Age Groups                 12178 non-null  object
 8   Age Groups Code            12178 non-null  object
 9   Sex                        12178 non-null  object
 10  Sex Code                   12178 non-null  object
 11  Count                      12178 non-null  float64
 12  Population                 12178 non-null  float64
 13  Crude Rate                 12178 non-null  float64
dtypes: float64(6), object(8)
memory usage: 1.3+ MB

In [7]:
df_2019.shape

(12240, 14)

In [8]:
df_2019.head(100)

,Notes,Leading Cancer Sites,Leading Cancer Sites Code,States,States Code,Year,Year Code,Age Groups,Age Groups Code,Sex,Sex Code,Count,Population,Crude Rate
0,NaN,Brain and Other Nervous System,31010-31040,Alabama,1.0,2019.0,2019.0,50-54 years,50-54,Male,M,19.0,149277.0,12.7
1,NaN,Brain and Other Nervous System,31010-31040,Alabama,1.0,2019.0,2019.0,55-59 years,55-59,Male,M,23.0,161482.0,14.2
2,NaN,Brain and Other Nervous System,31010-31040,Alabama,1.0,2019.0,2019.0,60-64 years,60-64,Male,M,30.0,151504.0,19.8
3,NaN,Brain and Other Nervous System,31010-31040,Alabama,1.0,2019.0,2019.0,65-69 years,65-69,Male,M,36.0,127679.0,28.2
4,NaN,Brain and Other Nervous System,31010-31040,Alabama,1.0,2019.0,2019.0,75-79 years,75-79,Male,M,20.0,68256.0,29.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,Brain and Other Nervous System,31010-31040,Maryland,24.0,2019.0,2019.0,55-59 years,55-59,Male,M,29.0,206327.0,14.1
96,NaN,Brain and Other Nervous System,31010-31040,Maryland,24.0,2019.0,2019.0,60-64 years,60-64,Male,M,25.0,182828.0,13.7
97,NaN,Brain and Other Nervous System,31010-31040,Maryland,24.0,2019.0,2019.0,65-69 years,65-69,Male,M,29.0,143139.0,20.3
98,NaN,Brain and Other Nervous System,31010-31040,Maryland,24.0,2019.0,2019.0,70-74 years,70-74,Male,M,33.0,112376.0,29.4
99,NaN,Brain and Other Nervous System,31010-31040,Maryland,24.0,2019.0,2019.0,75-79 years,75-79,Male,M,28.0,73831.0,37.9

In [9]:
## Dropping Notes columns as we are not going to use it
df_2019=df_2019.drop(columns=['Notes'])

In [10]:
df_2019.shape

(12240, 13)

In [11]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12240 entries, 0 to 12239
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Leading Cancer Sites       12178 non-null  object
 1   Leading Cancer Sites Code  12178 non-null  object
 2   States                     12178 non-null  object
 3   States Code                12178 non-null  float64
 4   Year                       12178 non-null  float64
 5   Year Code                  12178 non-null  float64
 6   Age Groups                 12178 non-null  object
 7   Age Groups Code            12178 non-null  object
 8   Sex                        12178 non-null  object
 9   Sex Code                   12178 non-null  object
 10  Count                      12178 non-null  float64
 11  Population                 12178 non-null  float64
 12  Crude Rate                 12178 non-null  float64
dtypes: float64(6), object(7)
memory usage: 1.2+ MB

In [12]:
#Dropping all codes columns as we wont be using them

df_2019.drop(columns=['Leading Cancer Sites Code','States Code','Year Code','Age Groups Code'],inplace=True)

In [13]:
df_2019.shape

(12240, 9)

## Checking value counts to see the overall data

In [14]:
df_2019['Leading Cancer Sites'].value_counts(dropna=False)

Colon and Rectum                         987
Melanoma of the Skin                     950
Lung and Bronchus                        860
Non-Hodgkin Lymphoma                     808
Kidney and Renal Pelvis                  777
Leukemias                                742
Thyroid                                  704
Urinary Bladder, invasive and in situ    656
Breast                                   641
Pancreas                                 630
Oral Cavity and Pharynx                  630
Myeloma                                  485
Corpus Uteri                             445
Prostate                                 440
Brain and Other Nervous System           431
Stomach                                  430
Liver                                    395
Esophagus                                332
Ovary                                    317
Cervix Uteri                             243
Larynx                                   214
NaN                                       62
Gallbladder                               61
Name: Leading Cancer Sites, dtype: int64

In [15]:
df_2019['States'].value_counts(sort=True,dropna=False)

California              478
Texas                   463
New York                454
Florida                 447
Illinois                390
Ohio                    383
Pennsylvania            383
North Carolina          367
Georgia                 356
New Jersey              353
Michigan                347
Virginia                328
Washington              318
Tennessee               309
Massachusetts           309
Arizona                 308
Missouri                302
Wisconsin               298
Indiana                 296
Maryland                296
Colorado                280
Alabama                 279
Minnesota               278
Louisiana               275
South Carolina          272
Kentucky                272
Oklahoma                250
Oregon                  241
Connecticut             239
Iowa                    234
Arkansas                227
Mississippi             211
Kansas                  208
West Virginia           175
Utah                    174
Nebraska                147
New Mexico              144
Maine                   144
Idaho                   131
New Hampshire           129
Hawaii                  114
Montana                  94
Delaware                 89
Rhode Island             88
South Dakota             75
NaN                      62
Vermont                  61
North Dakota             52
Alaska                   38
Wyoming                  38
District of Columbia     34
Name: States, dtype: int64

In [16]:
df_2019['Year'].value_counts(dropna=False)

2019.0    12178
NaN          62
Name: Year, dtype: int64

In [17]:
df_2019['Age Groups'].value_counts(dropna=False)

65-69 years     1404
60-64 years     1387
70-74 years     1381
75-79 years     1292
55-59 years     1266
80-84 years     1099
85+ years       1050
50-54 years     1011
45-49 years      775
40-44 years      534
35-39 years      396
30-34 years      262
25-29 years      145
20-24 years       64
NaN               62
1-4 years         37
15-19 years       32
10-14 years       22
5-9 years         21
Name: Age Groups, dtype: int64

In [18]:
df_2019['Sex'].value_counts(dropna=False)

Female    6265
Male      5913
NaN         62
Name: Sex, dtype: int64

In [19]:
df_2019['Sex Code'].value_counts(dropna=False)

F      6265
M      5913
NaN      62
Name: Sex Code, dtype: int64

In [20]:
df_2019['Count'].value_counts(ascending=True,dropna=False)

893.0       1
419.0       1
645.0       1
582.0       1
1004.0      1
         ...
20.0      284
18.0      289
19.0      289
17.0      318
16.0      344
Name: Count, Length: 883, dtype: int64

In [21]:
df_2019['Count'].unique()

array([  19.,   23.,   30.,   36.,   20.,   17.,   22.,   24.,   33.,
         21.,   16.,   38.,   42.,   28.,   27.,   57.,   50.,   73.,
         74.,   95.,  134.,  164.,  169.,  137.,  113.,   67.,   53.,
         18.,   26.,   32.,   35.,   96.,  117.,  148.,  109.,   91.,
         68.,   51.,   25.,   52.,   29.,   31.,   37.,   59.,   39.,
         46.,   45.,   40.,   48.,   75.,   82.,   80.,   69.,   54.,
         47.,   65.,   72.,   55.,   70.,   44.,   34.,   84.,  100.,
         97.,   41.,   49.,  131.,  153.,  179.,  223.,  183.,  130.,
        114.,   81.,   99.,  176.,  213.,  199.,  170.,  125.,  122.,
         79.,  102.,  128.,  152.,   87.,  155.,  270.,  471.,  845.,
        923., 1057., 1069.,  935.,  755.,  638.,  646.,   58.,  112.,
        121.,  133.,   93.,   71.,   88.,   90.,  115.,   94.,   98.,
         61.,   76.,  129.,  273.,  449.,  593.,  716.,  835.,  750.,
        669.,  500.,  477.,   78.,  149.,  269.,  299.,  358.,  384.,
        337.,  250.,  140.,   56.,   63.,   43.,  282.,  349.,  442.,
        452.,  399.,  335.,  234.,  261.,   77.,  174.,  224.,  209.,
        154.,  147.,  103.,  104.,  108.,  105.,  159.,  214.,  225.,
        166.,  215.,  195.,  124.,  163.,   60.,  196.,  172.,   64.,
        146.,  254.,  242.,  301.,  340.,  322.,  259.,  180.,  184.,
        127.,  141.,  145.,  116.,  126.,  132.,  178.,  218.,  119.,
         62.,  227.,  265.,  309.,  286.,  320.,  239.,  201.,  217.,
        434.,  569.,  574.,  627.,  559.,  473.,  403.,  426.,   83.,
        252.,  237.,  288.,  333.,  296.,  173.,  268.,  311.,  465.,
        425.,  313.,  276.,  235.,   89.,  118.,  171.,  139.,  314.,
        347.,  433.,  479.,  400.,  317.,  219.,  258.,  246.,  188.,
        344.,  634.,  779.,  940.,  967.,  747.,  578.,  339.,  187.,
        210.,  232.,  255.,  208.,  158.,  216.,  198.,  175.,  160.,
        182.,  111.,  202.,  241.,  189.,  143.,  168.,  136.,  151.,
        165.,   66.,  144.,  243.,  312.,  495.,  683.,  695.,  601.,
        453.,  294.,  167.,  203.,  305.,  455.,  466.,  359.,  194.,
        106.,  278.,  101.,  138.,  107.,  197.,  220.,  191.,  376.,
        396.,  451.,  409.,  190.,  245.,  249.,   92.,  156.,  298.,
         85.,  177.,  356.,  445.,  556.,  604.,  534.,  342.,  206.,
        120.,  297.,  383.,  319.,  275.,  162.,  248.,  326.,  406.,
        414.,  231.,  247.,  212.,  142.,  253.,  244.,  336.,  548.,
        588.,  411.,  257.,  292.,   86.,  123.,  135.,  280.,  506.,
        186.,  323.,  410.,  460.,  110.,  228.,  405.,  393.,  150.,
        281.,  589., 1380., 1579., 1492., 1078.,  909.,  211.,  702.,
       1128., 1567., 1730., 1564., 1061.,  805.,  570.,  676.,  737.,
        513.,  378.,  658.,  798.,  882.,  687.,  457.,  412.,  485.,
        518.,  415.,  251.,  193.,  422.,  362.,  379.,  360.,  304.,
        181.,  361.,  200.,  397.,  623.,  759.,  765.,  581.,  329.,
        274.,  413.,  482.,  492.,  348.,  472.,  503.,  494.,  324.,
        236.,  572.,  944., 1144., 1279.,  982.,  732.,  635.,  373.,
        631.,  775.,  868.,  724.,  429.,  267.,  480.,  828.,  961.,
        902.,  831.,  475.,  308.,  284.,  185.,  263.,  469.,  816.,
        893., 1066.,  837.,  557.,  462.,  205.,  461.,  390.,  496.,
        595.,  693.,  512.,  571., 1027., 1359., 1351., 1170.,  782.,
        524.,  420.,  474.,  526.,  444.,  287.,  372.,  229.,  389.,
        240.,  766.,  832.,  974.,  840.,  619.,  637.,  364.,  458.,
        709.,  793.,  726.,  540.,  551.,  207.,  262.,  295.,  161.,
        192.,  238.,  334.,  293.,  272.,  226.,  291.,  157.,  436.,
        341.,  233.,  511.,  596.,  580.,  562.,  256.,  508.,  536.,
        489.,  386.,  300.,  352.,  374.,  544.,  435.,  533.,  289.,
        325.,  318.,  222.,  381.,  438.,  353.,  392.,  463.,  447.,
        260.,  387.,  432.,  266.,  204.,  499.,  731.,  916.,  648.,
        780.,  668.,  391.,  446.,  888., 2449., 3888., 5263., 4170.,
       2553., 1333.,  331.,  583.,  744.,  656.,  332.,  610.,  698.,
        599.,  609., 1430., 2116., 3183., 2798., 1887.,  931.,  497.,
       1538., 1929., 1500.,  869.,  221.,  354.,  478., 1035., 1771.,
       2004., 1602., 1001.,  459.,  717.,  908.,  706.,  419.,  279.,
        645.,  370.,  582.,  594.,  528.,  813., 1004.,  714.,  290.,
        315.,  722., 1062., 1166.,  866.,  979., 1167.,  874.,  507.,
        394.,  952., 1559., 1811., 1498.,  846.,  402.,  230.,  751.,
        941.,  723.,  404.,  316.,  624.,  283.,  880.,  430.,  285.,
        423., 1013., 1677., 1767., 1474.,  947.,  428.,  851., 2037.,
       3255., 3731., 3193., 1941.,  565., 1063., 1610., 1964., 1599.,
       1077., 1769., 2227., 1700.,  993.,  491.,  307.,  715.,  641.,
        330.,  476., 1223., 1999., 2342., 1897., 1116.,  493.,  685.,
        886.,  730.,  579.,  892., 1184.,  976.,  575.,  810., 1839.,
       2745., 3735., 2915., 1739.,  749.,  584.,  959., 1176.,  949.,
        546.,  488.,  833., 1199.,  918.,  560.,  606., 1275.,  937.,
        523.,  573.,  728.,  946.,  913.,  704.,  848.,  407.,  644.,
        863.,  699.,  368.,  302.,  303.,  327.,  443.,  367.,  388.,
        561.,  549.,  385.,  622.,  545.,  705.,  844.,  757.,  535.,
        408.,  849., 1649., 2441., 2836., 3411., 3856., 3977., 3720.,
       2400., 1572., 1490.,  541.,  568.,  708.,  585.,  790., 1292.,
       1605., 2067., 2474., 2876., 2775., 2040., 1248.,  965.,  427.,
        712.,  825.,  997., 1091., 1212., 1114.,  651.,  306.,  564.,
        836.,  977., 1191., 1499., 1506., 1398., 1003.,  639.,  264.,
        456.,  366.,  437.,  516.,  529.,  484.,  363.,  691.,  720.,
        700.,  501.,  670.,  853.,  760.,  734., 1135., 1230., 1073.,
        346.,  553.,  672.,  418.,  338.,  369.,  616.,  754.,  505.,
       1096., 1130.,  981.,  774.,  490., 1383., 1797., 2081., 2350.,
       2360., 2266., 1606., 1036.,  740.,  895., 1137., 1263., 1420.,
       1376.,  906., 1440., 1375.,  973.,  537.,  808., 1038., 1293.,
       1580., 1642., 1501., 1106.,  701.,  345.,  794.,  826., 1101.,
       1802., 1944., 2233., 2668., 2793., 2380., 1609.,  310.,  626.,
        820.,  928.,  995.,  922.,  642.,  681.,  925.,  864.,  690.,
        804.,  653.,  504.,  365.,  625.,  667.,  784.,  824.,  725.,
        514.,  611.,  608.,  277.,  487.,  350.,  351.,  519.,  684.,
        498.,  963., 1099., 1064.,  822.,  530.,  271.,  543.,  789.,
        613.,  321.,  439.,  547.,  401.,  355.,  673.,  431., 1007.,
       1236., 1495., 1473., 1065., 1070., 1349., 1679., 1541., 1023.,
        809.,  586.,  649.,  566.,  454.,  417.,  605.,  703.,  621.,
        357., 1018., 1150., 1323., 1208.,  812.,  763.,  819.,  876.,
        817.,  525.,  964.,  815.,  522.,  839., 1015., 1200., 1032.,
        661.,  532.,  483.,  448.,  382.,  421.,  328.,  416.,  343.,
         nan])

Observation from the above analysis.
There are about 60 Nan values across the data.

## Mixed data types check

In [22]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12240 entries, 0 to 12239
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Leading Cancer Sites  12178 non-null  object
 1   States                12178 non-null  object
 2   Year                  12178 non-null  float64
 3   Age Groups            12178 non-null  object
 4   Sex                   12178 non-null  object
 5   Sex Code              12178 non-null  object
 6   Count                 12178 non-null  float64
 7   Population            12178 non-null  float64
 8   Crude Rate            12178 non-null  float64
dtypes: float64(4), object(5)
memory usage: 860.8+ KB

In [23]:
for col in df_2019.columns.tolist():
  weird = (df_2019[[col]].applymap(type) != df_2019[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_2019[weird]) > 0:
    print (col)

Leading Cancer Sites
States
Age Groups
Sex
Sex Code

## There are 5 columns with mixed data types. FIrst we will deal with missing values and check again if the difference is because of them.

In [24]:
#checking NULL(missing data) rows in columns
df_2019.isnull().sum()

Leading Cancer Sites    62
States                  62
Year                    62
Age Groups              62
Sex                     62
Sex Code                62
Count                   62
Population              62
Crude Rate              62
dtype: int64

In [25]:
## as all columns have NULL, we can check if all rows are null and then columnwise.

In [26]:
#dropping NaN rows
df_2019.dropna(inplace = True)

In [27]:
df_2019.shape

(12178, 9)

## 12238 rows reduced to 12178. 
That is our 60 rows of NULL value. Lets check mixed and missing values again.

In [28]:
#Missing values
df_2019.isnull().sum()

Leading Cancer Sites    0
States                  0
Year                    0
Age Groups              0
Sex                     0
Sex Code                0
Count                   0
Population              0
Crude Rate              0
dtype: int64

In [29]:
#mixed data columns
for col in df_2019.columns.tolist():
  weird = (df_2019[[col]].applymap(type) != df_2019[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_2019[weird]) > 0:
    print (col)

In [30]:
#checking duplicates

df_dups_2019 = df_2019[df_2019.duplicated()]

In [31]:
df_dups_2019

Empty DataFrame
Columns: [Leading Cancer Sites, States, Year, Age Groups, Sex, Sex Code, Count, Population, Crude Rate]
Index: []

In [32]:
#final 2019 clean data
df_2019.head(10)

,Leading Cancer Sites,States,Year,Age Groups,Sex,Sex Code,Count,Population,Crude Rate
0,Brain and Other Nervous System,Alabama,2019.0,50-54 years,Male,M,19.0,149277.0,12.7
1,Brain and Other Nervous System,Alabama,2019.0,55-59 years,Male,M,23.0,161482.0,14.2
2,Brain and Other Nervous System,Alabama,2019.0,60-64 years,Male,M,30.0,151504.0,19.8
3,Brain and Other Nervous System,Alabama,2019.0,65-69 years,Male,M,36.0,127679.0,28.2
4,Brain and Other Nervous System,Alabama,2019.0,75-79 years,Male,M,20.0,68256.0,29.3
5,Brain and Other Nervous System,Arizona,2019.0,50-54 years,Male,M,17.0,206772.0,8.2
6,Brain and Other Nervous System,Arizona,2019.0,55-59 years,Male,M,22.0,216293.0,10.2
7,Brain and Other Nervous System,Arizona,2019.0,60-64 years,Male,M,30.0,204086.0,14.7
8,Brain and Other Nervous System,Arizona,2019.0,65-69 years,Male,M,24.0,184808.0,13.0
9,Brain and Other Nervous System,Arizona,2019.0,70-74 years,Male,M,33.0,166440.0,19.8

## The data seems clean without NULL values , mixed data or Duplicates

In [33]:
#changing year to integer
df_2019['Year']=df_2019['Year'].astype('int')

In [34]:
df_2019.shape

(12178, 9)

In [35]:
df_2019.head(10)

,Leading Cancer Sites,States,Year,Age Groups,Sex,Sex Code,Count,Population,Crude Rate
0,Brain and Other Nervous System,Alabama,2019,50-54 years,Male,M,19.0,149277.0,12.7
1,Brain and Other Nervous System,Alabama,2019,55-59 years,Male,M,23.0,161482.0,14.2
2,Brain and Other Nervous System,Alabama,2019,60-64 years,Male,M,30.0,151504.0,19.8
3,Brain and Other Nervous System,Alabama,2019,65-69 years,Male,M,36.0,127679.0,28.2
4,Brain and Other Nervous System,Alabama,2019,75-79 years,Male,M,20.0,68256.0,29.3
5,Brain and Other Nervous System,Arizona,2019,50-54 years,Male,M,17.0,206772.0,8.2
6,Brain and Other Nervous System,Arizona,2019,55-59 years,Male,M,22.0,216293.0,10.2
7,Brain and Other Nervous System,Arizona,2019,60-64 years,Male,M,30.0,204086.0,14.7
8,Brain and Other Nervous System,Arizona,2019,65-69 years,Male,M,24.0,184808.0,13.0
9,Brain and Other Nervous System,Arizona,2019,70-74 years,Male,M,33.0,166440.0,19.8

## Cleaning process 2018 data

In [36]:
#checking the dataypes and other cehcks on data frame
df_2018.shape

(12325, 14)

In [37]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12325 entries, 0 to 12324
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Notes                      62 non-null     object
 1   Leading Cancer Sites       12263 non-null  object
 2   Leading Cancer Sites Code  12263 non-null  object
 3   States                     12263 non-null  object
 4   States Code                12263 non-null  float64
 5   Year                       12263 non-null  float64
 6   Year Code                  12263 non-null  float64
 7   Age Groups                 12263 non-null  object
 8   Age Groups Code            12263 non-null  object
 9   Sex                        12263 non-null  object
 10  Sex Code                   12263 non-null  object
 11  Count                      12263 non-null  float64
 12  Population                 12263 non-null  float64
 13  Crude Rate                 12263 non-null  float64
dtypes: float64(6), object(8)
memory usage: 1.3+ MB

## Considering this is a similar set of data, we will drop Notes, Leading Cancer Sites Code,States Code ,Year Code and Age Group Code

In [38]:
#dropping columns
df_2018.drop(columns=['Notes','Leading Cancer Sites Code','States Code','Year Code','Age Groups Code'],inplace=True)

In [39]:
#verifying
df_2018.shape

(12325, 9)

In [40]:
#verifying
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12325 entries, 0 to 12324
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Leading Cancer Sites  12263 non-null  object
 1   States                12263 non-null  object
 2   Year                  12263 non-null  float64
 3   Age Groups            12263 non-null  object
 4   Sex                   12263 non-null  object
 5   Sex Code              12263 non-null  object
 6   Count                 12263 non-null  float64
 7   Population            12263 non-null  float64
 8   Crude Rate            12263 non-null  float64
dtypes: float64(4), object(5)
memory usage: 866.7+ KB

## Checking value counts to check NULL values and

In [41]:
df_2018.isnull().sum()

Leading Cancer Sites    62
States                  62
Year                    62
Age Groups              62
Sex                     62
Sex Code                62
Count                   62
Population              62
Crude Rate              62
dtype: int64

In [42]:
#dropping NULL values
df_2018.dropna(inplace = True)

In [43]:
#verify
df_2018.shape

(12263, 9)

In [44]:
##this shows all 59 rows were empty rows.

In [45]:
#mixed data columns
for col in df_2018.columns.tolist():
  weird = (df_2018[[col]].applymap(type) != df_2018[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_2018[weird]) > 0:
    print (col)

In [46]:
#checking null again
df_2018.isnull().sum()

Leading Cancer Sites    0
States                  0
Year                    0
Age Groups              0
Sex                     0
Sex Code                0
Count                   0
Population              0
Crude Rate              0
dtype: int64

In [47]:
#checking duplicates
df_dups_2018 = df_2018[df_2018.duplicated()]

In [48]:
df_dups_2018

Empty DataFrame
Columns: [Leading Cancer Sites, States, Year, Age Groups, Sex, Sex Code, Count, Population, Crude Rate]
Index: []

### The data is clean without duplicates,mixed data type and NULL values

In [49]:
#changing year to integer
df_2018['Year']=df_2018['Year'].astype('int')

In [50]:
df_2018.shape

(12263, 9)

In [51]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12263 entries, 0 to 12262
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Leading Cancer Sites  12263 non-null  object
 1   States                12263 non-null  object
 2   Year                  12263 non-null  int64
 3   Age Groups            12263 non-null  object
 4   Sex                   12263 non-null  object
 5   Sex Code              12263 non-null  object
 6   Count                 12263 non-null  float64
 7   Population            12263 non-null  float64
 8   Crude Rate            12263 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 958.0+ KB

In [52]:
df_2018.describe()

          Year         Count    Population    Crude Rate
count  12263.0  12263.000000  1.226300e+04  12263.000000
mean    2018.0    122.640871  2.344209e+05     89.401517
std        0.0    240.223132  2.539047e+05    125.048592
min     2018.0     16.000000  3.525000e+03      1.100000
25%     2018.0     27.000000  7.266800e+04     18.300000
50%     2018.0     51.000000  1.576720e+05     41.300000
75%     2018.0    115.000000  2.900540e+05     95.000000
max     2018.0   4886.000000  1.614451e+06    920.500000

In [53]:
#final data frame for 2018
df_2018.head()

,Leading Cancer Sites,States,Year,Age Groups,Sex,Sex Code,Count,Population,Crude Rate
0,Brain and Other Nervous System,Alabama,2018,60-64 years,Female,F,23.0,168342.0,13.7
1,Brain and Other Nervous System,Alabama,2018,65-69 years,Female,F,21.0,145302.0,14.5
2,Brain and Other Nervous System,Alabama,2018,70-74 years,Female,F,23.0,117686.0,19.5
3,Brain and Other Nervous System,Alabama,2018,75-79 years,Female,F,19.0,84846.0,22.4
4,Brain and Other Nervous System,Alabama,2018,80-84 years,Female,F,18.0,58233.0,30.9

## Appending data frames into one

In [54]:
#checking and making sure both data sets have same format
df_2019.shape

(12178, 9)

In [55]:
df_2018.shape

(12263, 9)

In [56]:
#creating frame
frames=[df_2018,df_2019]

In [57]:
frames

[                        Leading Cancer Sites   States  Year    Age Groups  \
 0             Brain and Other Nervous System  Alabama  2018  60-64 years
 1             Brain and Other Nervous System  Alabama  2018   65-69 years
 2             Brain and Other Nervous System  Alabama  2018   70-74 years
 3             Brain and Other Nervous System  Alabama  2018   75-79 years
 4             Brain and Other Nervous System  Alabama  2018   80-84 years
 ...                                      ...      ...   ...           ...
 12258  Urinary Bladder, invasive and in situ  Wyoming  2018   65-69 years
 12259  Urinary Bladder, invasive and in situ  Wyoming  2018   70-74 years
 12260  Urinary Bladder, invasive and in situ  Wyoming  2018   75-79 years
 12261  Urinary Bladder, invasive and in situ  Wyoming  2018   80-84 years
 12262  Urinary Bladder, invasive and in situ  Wyoming  2018     85+ years

           Sex Sex Code  Count  Population  Crude Rate
 0      Female        F   23.0    168342.0        13.7
 1      Female        F   21.0    145302.0        14.5
 2      Female        F   23.0    117686.0        19.5
 3      Female        F   19.0     84846.0        22.4
 4      Female        F   18.0     58233.0        30.9
 ...       ...      ...    ...         ...         ...
 12258    Male        M   20.0     17169.0       116.5
 12259    Male        M   18.0     12340.0       145.9
 12260    Male        M   16.0      7813.0       204.8
 12261    Male        M   22.0      4665.0       471.6
 12262    Male        M   19.0      4163.0       456.4

 [12263 rows x 9 columns],
                         Leading Cancer Sites     States  Year    Age Groups  \
 0             Brain and Other Nervous System    Alabama  2019   50-54 years
 1             Brain and Other Nervous System    Alabama  2019   55-59 years
 2             Brain and Other Nervous System    Alabama  2019  60-64 years
 3             Brain and Other Nervous System    Alabama  2019   65-69 years
 4             Brain and Other Nervous System    Alabama  2019   75-79 years
 ...                                      ...        ...   ...           ...
 12173  Urinary Bladder, invasive and in situ  Wisconsin  2019   65-69 years
 12174  Urinary Bladder, invasive and in situ  Wisconsin  2019   70-74 years
 12175  Urinary Bladder, invasive and in situ  Wisconsin  2019   75-79 years
 12176  Urinary Bladder, invasive and in situ  Wisconsin  2019   80-84 years
 12177  Urinary Bladder, invasive and in situ  Wisconsin  2019     85+ years

           Sex Sex Code  Count  Population  Crude Rate
 0        Male        M   19.0    149277.0        12.7
 1        Male        M   23.0    161482.0        14.2
 2        Male        M   30.0    151504.0        19.8
 3        Male        M   36.0    127679.0        28.2
 4        Male        M   20.0     68256.0        29.3
 ...       ...      ...    ...         ...         ...
 12173  Female        F   41.0    173144.0        23.7
 12174  Female        F   76.0    133024.0        57.1
 12175  Female        F   69.0     94842.0        72.8
 12176  Female        F   53.0     67245.0        78.8
 12177  Female        F   69.0     82068.0        84.1

 [12178 rows x 9 columns]]

In [58]:
#concatenating both data frames into one
df_final_1819=pd.concat(frames)

In [59]:
df_final_1819

,Leading Cancer Sites,States,Year,Age Groups,Sex,Sex Code,Count,Population,Crude Rate
0,Brain and Other Nervous System,Alabama,2018,60-64 years,Female,F,23.0,168342.0,13.7
1,Brain and Other Nervous System,Alabama,2018,65-69 years,Female,F,21.0,145302.0,14.5
2,Brain and Other Nervous System,Alabama,2018,70-74 years,Female,F,23.0,117686.0,19.5
3,Brain and Other Nervous System,Alabama,2018,75-79 years,Female,F,19.0,84846.0,22.4
4,Brain and Other Nervous System,Alabama,2018,80-84 years,Female,F,18.0,58233.0,30.9
...,...,...,...,...,...,...,...,...,...
12173,"Urinary Bladder, invasive and in situ",Wisconsin,2019,65-69 years,Female,F,41.0,173144.0,23.7
12174,"Urinary Bladder, invasive and in situ",Wisconsin,2019,70-74 years,Female,F,76.0,133024.0,57.1
12175,"Urinary Bladder, invasive and in situ",Wisconsin,2019,75-79 years,Female,F,69.0,94842.0,72.8
12176,"Urinary Bladder, invasive and in situ",Wisconsin,2019,80-84 years,Female,F,53.0,67245.0,78.8
12177,"Urinary Bladder, invasive and in situ",Wisconsin,2019,85+ years,Female,F,69.0,82068.0,84.1

In [60]:
df_final_1819.describe()

               Year         Count    Population    Crude Rate
count  24441.000000  24441.000000  2.444100e+04  24441.000000
mean    2018.498261    123.294505  2.354541e+05     88.903699
std        0.500007    243.495846  2.541393e+05    124.574493
min     2018.000000     16.000000  3.525000e+03      1.100000
25%     2018.000000     27.000000  7.383100e+04     18.200000
50%     2018.000000     51.000000  1.582010e+05     41.100000
75%     2019.000000    116.000000  2.915870e+05     94.200000
max     2019.000000   5263.000000  1.614451e+06    920.500000

In [61]:
#renaming Sex and Sex code to Gender
df_final_1819.rename(columns={'Sex': 'Gender','Sex Code':'Gender Code'},inplace=True)

In [62]:
df_final_1819

,Leading Cancer Sites,States,Year,Age Groups,Gender,Gender Code,Count,Population,Crude Rate
0,Brain and Other Nervous System,Alabama,2018,60-64 years,Female,F,23.0,168342.0,13.7
1,Brain and Other Nervous System,Alabama,2018,65-69 years,Female,F,21.0,145302.0,14.5
2,Brain and Other Nervous System,Alabama,2018,70-74 years,Female,F,23.0,117686.0,19.5
3,Brain and Other Nervous System,Alabama,2018,75-79 years,Female,F,19.0,84846.0,22.4
4,Brain and Other Nervous System,Alabama,2018,80-84 years,Female,F,18.0,58233.0,30.9
...,...,...,...,...,...,...,...,...,...
12173,"Urinary Bladder, invasive and in situ",Wisconsin,2019,65-69 years,Female,F,41.0,173144.0,23.7
12174,"Urinary Bladder, invasive and in situ",Wisconsin,2019,70-74 years,Female,F,76.0,133024.0,57.1
12175,"Urinary Bladder, invasive and in situ",Wisconsin,2019,75-79 years,Female,F,69.0,94842.0,72.8
12176,"Urinary Bladder, invasive and in situ",Wisconsin,2019,80-84 years,Female,F,53.0,67245.0,78.8
12177,"Urinary Bladder, invasive and in situ",Wisconsin,2019,85+ years,Female,F,69.0,82068.0,84.1

## Creating some flags for further analysis.

In [63]:
#State to regional categorization North-East
df_final_1819.loc[df_final_1819['States'].isin(['New York','Connecticut','Maine','New Hampshire',
       'New Jersey','Pennsylvania','Vermont','Massachusetts','Rhode Island']), 'Region'] = 'North-East'
#updating mid-west
df_final_1819.loc[df_final_1819['States'].isin(['Illinois', 'Indiana','Iowa','Kansas','Michigan', 'Minnesota','Missouri',
                                           'Nebraska','North Dakota','Ohio','South Dakota','Wisconsin']), 'Region'] = 'Mid-West'
#updating south
df_final_1819.loc[df_final_1819['States'].isin(['Alabama','Arkansas','Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Kentucky', 'Louisiana','Maryland','Mississippi','North Carolina','Tennessee',
       'Texas','Virginia', 'West Virginia','South Carolina','Oklahoma']), 'Region'] = 'South'
#updating west
df_final_1819.loc[df_final_1819['States'].isin(['Alaska', 'Arizona','California','Hawaii', 'Idaho','Oregon','New Mexico', 
       'Colorado','Nevada','Washington','Wyoming','Montana', 'Utah']), 'Region'] = 'West'

In [64]:
df_final_1819['Region'].value_counts(dropna=False)

South         9314
Mid-West      6047
West          4725
North-East    4355
Name: Region, dtype: int64

1-14 : Pediatric group
15-29 :Young age group
30-49 : Adult age group
50-64 : Middle age group
65+ : Elderly group

In [65]:
#age group flagging
df_final_1819.loc[df_final_1819['Age Groups'].isin(['1-4 years','5-9 years','10-14 years']), 'Age_Flag'] = 'Pediatric group'
df_final_1819.loc[df_final_1819['Age Groups'].isin(['15-19 years','20-24 years','25-29 years']), 'Age_Flag'] = 'Young age group'
df_final_1819.loc[df_final_1819['Age Groups'].isin(['30-34 years','35-39 years','40-44 years','45-49 years']), 'Age_Flag'] = 'Adult age group'
df_final_1819.loc[df_final_1819['Age Groups'].isin(['50-54 years','55-59 years','60-64 years ']), 'Age_Flag'] = 'Middle age group'
df_final_1819.loc[df_final_1819['Age Groups'].isin(['65-69 years','70-74 years','75-79 years','80-84 years','85+ years']), 'Age_Flag'] = 'Elderly group'

In [67]:
df_final_1819['Age_Flag'].value_counts(dropna=False)

Elderly group       12470
Middle age group     7355
Adult age group      3952
Young age group       495
Pediatric group       169
Name: Age_Flag, dtype: int64

In [68]:
#age group numeric flagging

df_final_1819.loc[df_final_1819['Age Groups'].isin(['1-4 years']),"Age_max"]=4
df_final_1819.loc[df_final_1819['Age Groups'].isin(['5-9 years']),"Age_max"]=9
df_final_1819.loc[df_final_1819['Age Groups'].isin(['10-14 years']),"Age_max"]=14
df_final_1819.loc[df_final_1819['Age Groups'].isin(['15-19 years']),"Age_max"]=19
df_final_1819.loc[df_final_1819['Age Groups'].isin(['20-24 years']),"Age_max"]=24
df_final_1819.loc[df_final_1819['Age Groups'].isin(['25-29 years']),"Age_max"]=29
df_final_1819.loc[df_final_1819['Age Groups'].isin(['30-34 years']),"Age_max"]=34
df_final_1819.loc[df_final_1819['Age Groups'].isin(['35-39 years']),"Age_max"]=39
df_final_1819.loc[df_final_1819['Age Groups'].isin(['40-44 years']),"Age_max"]=44
df_final_1819.loc[df_final_1819['Age Groups'].isin(['45-49 years']),"Age_max"]=49
df_final_1819.loc[df_final_1819['Age Groups'].isin(['50-54 years']),"Age_max"]=54
df_final_1819.loc[df_final_1819['Age Groups'].isin(['55-59 years']),"Age_max"]=59
df_final_1819.loc[df_final_1819['Age Groups'].isin(['60-64 years ']),"Age_max"]=64
df_final_1819.loc[df_final_1819['Age Groups'].isin(['65-69 years']),"Age_max"]=69
df_final_1819.loc[df_final_1819['Age Groups'].isin(['70-74 years']),"Age_max"]=74
df_final_1819.loc[df_final_1819['Age Groups'].isin(['75-79 years']),"Age_max"]=79
df_final_1819.loc[df_final_1819['Age Groups'].isin(['80-84 years']),"Age_max"]=84
df_final_1819.loc[df_final_1819['Age Groups'].isin(['85+ years']),"Age_max"]=89

In [69]:
df_final_1819['Age_max'].value_counts(dropna=False)

69.0    2818
64.0    2765
74.0    2759
79.0    2574
59.0    2553
84.0    2209
89.0    2110
54.0    2037
49.0    1552
44.0    1085
39.0     793
34.0     522
29.0     299
24.0     130
4.0       79
19.0      66
14.0      46
9.0       44
Name: Age_max, dtype: int64

In [71]:
df_final_1819.head(10)

,Leading Cancer Sites,States,Year,Age Groups,Gender,Gender Code,Count,Population,Crude Rate,Region,Age_Flag,Age_max
0,Brain and Other Nervous System,Alabama,2018,60-64 years,Female,F,23.0,168342.0,13.7,South,Middle age group,64.0
1,Brain and Other Nervous System,Alabama,2018,65-69 years,Female,F,21.0,145302.0,14.5,South,Elderly group,69.0
2,Brain and Other Nervous System,Alabama,2018,70-74 years,Female,F,23.0,117686.0,19.5,South,Elderly group,74.0
3,Brain and Other Nervous System,Alabama,2018,75-79 years,Female,F,19.0,84846.0,22.4,South,Elderly group,79.0
4,Brain and Other Nervous System,Alabama,2018,80-84 years,Female,F,18.0,58233.0,30.9,South,Elderly group,84.0
5,Brain and Other Nervous System,Arizona,2018,55-59 years,Female,F,21.0,227767.0,9.2,West,Middle age group,59.0
6,Brain and Other Nervous System,Arizona,2018,60-64 years,Female,F,23.0,224349.0,10.3,West,Middle age group,64.0
7,Brain and Other Nervous System,Arizona,2018,65-69 years,Female,F,22.0,208318.0,10.6,West,Elderly group,69.0
8,Brain and Other Nervous System,Arizona,2018,70-74 years,Female,F,20.0,178478.0,11.2,West,Elderly group,74.0
9,Brain and Other Nervous System,Arizona,2018,75-79 years,Female,F,17.0,127735.0,13.3,West,Elderly group,79.0

## Exporting data set to prepared data

In [72]:
df_final_1819.to_csv(os.path.join(pathk,'Prepared Data','2018_19_cancer_incidents.csv'))